<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/app.css}">
    <title>giflib | Home</title>
</head>
<body>
  <h1>Home</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid autem cum dolor natus. Accusantium, alias asperiores cumque dicta eligendi nulla obcaecati ratione repudiandae similique soluta suscipit, tempore vel velit!</p>
  <img th:src="@{/gifs/compiler-bot.gif}" alt="logo">
</body>
</html>